html, body {
    height: 100%;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    }
    .login-box {
    position: absolute;
    top: 30%;
    left: 37%;
    width: 400px;
    padding: 40px;
    background:rgb(0, 0, 30);
    box-sizing: border-box;
    box-shadow: 0 10px 25px black;
    border-radius: 15px;
    }
    #login{
    color: white;
    text-align: center;
    font-family: 'Georgia', serif;
    font-weight: bold;
    }
    .user-box {
    position: relative;
    }
    input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    outline: none;
    border: indigo;
    border-bottom: 2px solid white;
    background: transparent;
    }
    label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: 0.3s;
    }
    
    .login-box .user-box input:focus~label,
    .login-box .user-box input:valid~label{
    top: -20px;
    left: 0;
    color: skyblue;
    font-size: 14px;
    }
    
    button {
    padding: 10px 20px;
    color: skyblue;
    font-size: 16px;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.02);
    margin-top: 20px;
    letter-spacing: 2px;
    border-radius: 5px;
    border:blue;
    }
    button:hover {
    background-color:rgb(42, 201, 201);
    color:white;
    box-shadow: 0 0 5px rgb(42, 201, 201), 0 0 25px rgb(42, 201, 201), 0 0 50px rgb(42, 201, 201), 0 0 100px rgb(42, 201, 201);
    }
